@import 'utility.css';

.main {
    width: 100%;
    height: 100vh;
    background-image: url(../images/coming-soon-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main .brand-block {
    width: 200px;
}

.main #countdown-box .count {
    margin: 0 3rem;
}

.main #countdown-box .count h2 {
    font-size: 5rem;
}

p {
    font-size: 1.8rem;
    text-align: center;
}

form .oneline-submit {
    width: 30vw;
}


form .oneline-submit .form-control {
    width: 80%;
}

form .oneline-submit .btn {
    width: 20%;
}

.social-icons ul li a {
    color: var(--off-white);
    font-size: 3rem;
    margin: 0 2rem;
    transition: all .3s ease;
    position: relative;
}

.social-icons ul li a:hover {
    color: var(--accent-color);
}

.social-icons ul li a:hover::after {
    content: attr(data-name);
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
}


@media screen and (max-width: 500px) {
    html {
        font-size: 55%;
    }

    form .oneline-submit {
        width: 90vw;
    }

    form .oneline-submit .form-control {
        width: 70%;
    }

    form .oneline-submit .btn {
        width: 30%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 55%;

    }

    form .oneline-submit {
        width: 90vw;
    }

    form .oneline-submit .form-control {
        width: 70%;
    }

    form .oneline-submit .btn {
        width: 30%;
    }
}
